
@{
    ViewData["Title"] = "Homework4";
}

<h1>Homework4</h1>
@* 要參考更改 *@


<div class="row mb-3">
    <div class="col-3"></div>
    <div class="col-6">
        <nav>
            <ul class="pagination" id="ulPaging">
            
            </ul>
        </nav>
    </div>
    <div class="col-3">
        <input type="search" placeholder="搜尋景點資料" class="form-control" id="inputSearch" />
    </div>
</div>
<nav>
    <ul class="pagination pagination-lg" id="ulCategories">
       
    </ul>
</nav>
<div class="row row-cols-1 row-cols-md-3 g-4" id="divSpots">
  
</div>







@section Styles {
    <style>

    </style>
}

@section Scripts {
    <script>
        

      

    </script>
  }