
@{
    ViewData["Title"] = "Register";
}

<h1 >Register</h1>
<div id="dd"></div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1>Register</h1>
        <form method="post" action="~/api/register" id="userForm">
            <div class="mb-3">
                <label for="InputName" class="form-label">姓名</label>
                <input type="text" class="form-control" id="InputName" name="Name">

            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="email">
            </div>
            <div class="mb-3">
                <label for="InputAge" class="form-label">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="age">
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">圖像上傳</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple name="avatar">
            </div>

            <button type="submit" class="btn btn-primary" id="buttonSubmit">送出</button>
        </form>
        <div id="div1" class="alert alert-info mt-3"></div>

    </div>
    <div class="col-3"></div>
</div>
    

@section Styles
{
    <style>


    </style>
}


@section Scripts
{


    <script>
        //const myDiv = document.querySelector('#dd');

        //(async()=>{
        //    const url = '@Url.Content("~/api/Register")?name=Jack&age=27'
        //    const response = await fetch(url)
        //    const data = await response.text();
        //    myDiv.innerHTML = `<div>${data}</div>`

        //})();

        const divResult = document.querySelector('#div1');
        const btnSubmit = document.querySelector('#buttonSubmit');
        const inpName = document.querySelector('#InputName');
        const inpEmail = document.querySelector('#InputEmail');
        const inpAge = document.querySelector('#InputAge');
        
        
        btnSubmit.addEventListener('click', async (evt) => {
            evt.preventDefault(); //防止預設行為的發生

            //將資料放進FormData
            const myForm = document.querySelector('#userForm');
            const formData = new FormData(myForm);
            //透過formData傳整包，即使要上傳檔案就不需要特別在<form>設定<encrytype>xk7


            //formData.append("password", "12345678");
            //讀出formData中的資料
            //for(const pair of formData.entries()){
            //    console.log(`${pair[0]}:${pair[1]}`);
            //}
            const url = '@Url.Content("~/api/register/")';
            const response = await fetch(url, {
                method: 'POST',
                body: formData
            });

            const data = await response.text();
            divResult.textContent = data;


        //const url = `@Url.Content("~/api/Register/")?username=${inpName.value}&email=${inpEmail.value}&age=${inpAge.value}`;
        //const response = await fetch(url)
        //const data = await response.text();
        //    divResult.textContent = data;
        })

    </script>
}